<section class="detailBackground">

</section>

<section class="aboutIntro">
    <div class="container">
        <div class="col-sm-3">
            <h3><a href="#aboutUs/intro"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;About Us</a></h3>
            <div class="bottomLine pull-right"></div>
            <ul>
                <li><a href="#aboutUs/intro">Introduction</a></li>
                <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                <li><a href="#aboutUs/news">Hot News</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h3>HELI Launches European Center</h3>
            <span>Date:2015-06-15</span>
            <hr>
            <img src="../image/hotnews3.jpg">
            <p>  Anhui HELI is an industrial vehicle research & development, manufacture and export base with the largest scale and the most comprehensive industry chain in China, as well as the only listed company in Chinese forklift industry so far. Since 1991, the enterprise’s main economic indicators has been leading the industry for the
                24th consecutive year, and now rank the top 8 industrial vehicle company in the world.<br>
                Anhui HELI Industrial Vehicle Import & Export Co., Ltd is the subsidiary of the HELI Group, solely responsible for the export businesses of HELI’s products. HELI has exported its products to over 150 countries and regions in the world, and established a worldwide sales network.</p>
            <img src="../image/hotnews4.jpg">
            <p>
                In May 2015, HELI European Center was opened near Calais, France, which is intended to provide the
                genuine parts and the convenient service for HELI's distributors. At the European Center, HELI's
                distributors will gain convenient services through online E-shop. The E-shop website is user friendly
                and easy for operation. After log on the distributors can check the price and live inventory, place
                order online and track it.
            </p>
            <img src="../image/hotnews5.jpg">
            <p>
                To further support the sales network, the forklifts and warehouse equipments will be stocked in the European Center in the future, and that will significantly reduce the delivery time, and achieve the goal of delivering within 24 hours.<br>
                HELI has launched a series of high-end products suitable for European markets. For more products' information, please visit http://www.helichina.net.<br>
                To further expand global markets and accelerate the internationalization strategies, HELI now welcomes all dealers worldwide who are interested in adding HELI products to their business lines, to build up a cooperative relationship and seek common development.<br><br>
                For further information please contact:<br>
                HELI Europe<br>
                Address: Rue du Cap de Bonne Esperance, Eurocap Bat. A9, 62231 Coquelles France<br>
                Tel: +33 (0)3 21 96 06 64<br>
                Mobile: +33 (0)6 72 49 90 46<br>
                E-mail: helieurope@helichina.net<br>
                Web: www.heliforklift.eu;www.helieuropecenter.com.<br>
            </p>

        </div>
    </div>
</section>


<section id="contact" class="contact-section"   style="background-color: #eeeeee">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4><a href="#aboutUs/intro">About Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#aboutUs/intro">Introduction</a></li>
                    <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                    <li><a href="#aboutUs/news">Hot News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#products">Products</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#products/k">K Series</a></li>
                    <li><a href="#products/h">H&a Series</a></li>
                    <li><a href="#products/s">Special Vehicles</a></li>
                    <li><a href="#products/o">Others</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#technology/rd">Technology</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#technology/rd">R&D Platform</a></li>
                    <li><a href="#technology/equipment">Manufacturing Equipments</a></li>
                    <li><a href="#technology/achievement">Achievements</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#sales/network">Sales Network</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#sales/network">Network</a></li>
                    <li><a href="#sales/purchase">Purchase</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><a href="#contactUs">Contact Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:bjhl@heliforklift.com.cn">bjhl@heliforklift.com.cn</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <a>86-0917-3571231</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a>No.127 Baofu Road, Baoji, Shaanxi, China</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: left;color: #9d9ea3">
            <p>@Anhui Heli Co., Ltd. Baoji Heli Forklift Truck Plant all rights reserved.</p>
        </div>
    </div>
</section>