<section class="detailBackground">

</section>

<section class="aboutIntro">
    <div class="container">
        <div class="col-sm-3">
            <h3><a href="#aboutUs/intro"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;About Us</a></h3>
            <div class="bottomLine pull-right"></div>
            <ul>
                <li><a href="#aboutUs/intro">Introduction</a></li>
                <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                <li><a href="#aboutUs/news">Hot News</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h3>HELI & CHL attended CeMAT Brazil 2015</h3>
            <span>Date: 2015-08-06</span>
            <hr>
            <p>On Jun.30th~Jul.3rd, ANHUI HELI CO. LTD. participated the CeMat 2015 at Sao Paulo of Brazil,
                the most important intra-logistics event in South America with approximately 25000 visitors in attendance,
                showing the famous two brands: HELI and CHL, firstly at the same fair.</p>
            <img src="../image/hotnews1.jpg">
            <h5>HELI Booth @120m2 . More clients show special interests in HELI NEW H series IC trucks and tried the trucks at the exhibit.</h5>
            <p>  Brazil's economy gets much gloomier this year and the Brazilian real continued its
                collapse and come to its weakest for more than a decade and has lost half of its value since its peak of
                R$1.54 to the dollar in July of 2011. CeMat 2015 opened at this difficult time, but it was the perfect
                opportunity to remind friends in the South American market, both new and old, that ANHUI HELI CO., LTD' s
                presence is still solid and our commitment to providing BEST products with good quality is steadfast, not
                matter HELI or CHL brand.  </p>
            <img src="../image/hotnews2.jpg">
            <h5>CHL Booth @120m2 The NEW CHL IC trucks and Electric products attracted many visitors at good prices.</h5>
            <p>
                As the NO.8 biggest manufacturer of forklift trucks in the world, Anhui HELI came into the stock market
                since 1996 and have been NO.1 for 24years continuously with around 35% marketing share in China. Anhui
                HELI Co, Ltd. exhibited CeMat Brazil 2015 with Brands: HELI and CHL, earnest about reinforcing existing
                partnerships, developing new relationships and displaying our newest releases.<br>
                CeMat 2015 brought together all segments of the material handling, logistics and intra-logistics industries
                in South America, showing more various users with different products, paying particular attention to the
                technology innovation in each sector—An ideal audience of HELI and CHL products.
            </p>
        </div>
    </div>
</section>


<section id="contact" class="contact-section"   style="background-color: #eeeeee">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4><a href="#aboutUs/intro">About Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#aboutUs/intro">Introduction</a></li>
                    <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                    <li><a href="#aboutUs/news">Hot News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#products">Products</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#products/k">K Series</a></li>
                    <li><a href="#products/h">H&a Series</a></li>
                    <li><a href="#products/s">Special Vehicles</a></li>
                    <li><a href="#products/o">Others</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#technology/rd">Technology</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#technology/rd">R&D Platform</a></li>
                    <li><a href="#technology/equipment">Manufacturing Equipments</a></li>
                    <li><a href="#technology/achievement">Achievements</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#sales/network">Sales Network</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#sales/network">Network</a></li>
                    <li><a href="#sales/purchase">Purchase</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><a href="#contactUs">Contact Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:bjhl@heliforklift.com.cn">bjhl@heliforklift.com.cn</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <a>86-0917-3571231</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a>No.127 Baofu Road, Baoji, Shaanxi, China</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: left;color: #9d9ea3">
            <p>@Anhui Heli Co., Ltd. Baoji Heli Forklift Truck Plant all rights reserved.</p>
        </div>
    </div>
</section>