<section class="detailBackground">

</section>

<section class="aboutIntro">
    <div class="container">
        <div class="col-sm-3">
            <h3><a href="#aboutUs/intro"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;About Us</a></h3>
            <div class="bottomLine pull-right"></div>
            <ul>
                <li><a href="#aboutUs/intro">Introduction</a></li>
                <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                <li><a href="#aboutUs/news">Hot News</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h3>Corporate Introduction</h3>
            <hr>
            <p>
                Anhui HeLi Co.,Ltd.(hereinafter referred to as Anhui HELI), founded in 1958, starting shareholding
                system transformation in 1993, and listed on the Shanghai Stock Exchange with a stock short name of
                "Anhui HELI" and a stock code of 600761 in 1996, is mainly engaged in R&D and manufacturing of
                industrial vehicles, construction machinery and key components, and its registered capital is RMB
                4.28 billion. At present, Anhui HELI is the R&D, manufacture and export base of industrial vehicles
                with largest scale, the most complete industry chain, and the best comprehensive and economic
                performance in China, it is the only listed company in Chinese forklift industry, it owns a
                national-level "Enterprise Technical Center”, and it has been awarded as “National Innovative Enterprise",
                "State High-tech Enterprise in National Torch Project", and "the Leading Enterprise of Engineering Machinery
                Construction Base(Hefei) in Anhui Province". "HELI" trademark is "the Well-known Trademark of China".
            </p>
            <img src="../image/intro_1.jpg">
            <p>
                <br>By the end of 2011, the total assets of Anhui HELI have reached 4.5 billion RMB, with consolidated
                business income 6.3 billion RMB, and aggregate business income over 10 billion RMB in 2011. Main economic index
                ranks top of national forklift truck industry for successive 21 years, and entered Top 8 List of global
                forklift truck manufactures in 2009.
                <br><br>After nearly half a century of development and innovation, Anhui HELI has formed a ten billion
                industrial platform with Hefei HELI Industry Park as center, two machinery factories -Baoji HELI and
                Hengyang HELI as western and southern bases, and three parts factories-Hefei Casting Factory, Anqing Car
                axle Factory, and Bengbu Hydraulic Machinery Factory and HELI auxiliary industrial parks as support. So
                far, HELI annual output of forklift trucks are 100,000 sets, that of casting pieces are 200,000t, oil
                cylinders are 600,000 pieces and steering axles are 100,000 sets, and has corresponding capabilities
                of blanking, metal processing, coating, assembling and testing.
            </p>
            <img src="../image/intro_2.jpg">
            <p>
                <br>The leading products of Anhui HELI is the "HELI" brand series forklift trucks, all online products
                of total 1700 models and 512 kinds have independent intellectual property rights, the products' comprehensive
                performance is in the leading position at national level, and reaches international advanced level. Anhui HELI
                has independent marketing networks and has established 23 provincial marketing networks and over 320
                second-level agency marketing service centers, which owns one of the most perfect and complete service
                systems in domestic forklift truck industry. Also it has oversea agency networks in 72 countries or
                regions and its products are sold in 130 countries and regions all over the world, among which exports
                to European countries and America account for 60% of the total exports.
            </p>
            <img src="../image/intro_3.jpg">
            <p>
                <br>During 12th Five-Year-Plan period, Anhui HELI will take "building first-class brand, and
                cultivating HELI into Top Five in the world" as the objective, take scientific development as the
                theme, focus on speeding up transforming economic development, support by independent innovation,
                make good use of the golden times for development, and comprehensively strengthen its strategic
                competitiveness through global vision, the whole industrial chain, efficient control of the whole
                process and win-win cooperation in an all-round way in order to become the leader of domestic industrial
                vehicle industry and a pioneer in the global industrial vehicle industry, and exceed 15 billion RMB in
                the output value at the end of the 12th Five-Year-Plan.
            </p>
        </div>
    </div>
</section>


<section id="contact" class="contact-section"   style="background-color: #eeeeee">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4><a href="#aboutUs/intro">About Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#aboutUs/intro">Introduction</a></li>
                    <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                    <li><a href="#aboutUs/news">Hot News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#products">Products</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#products/k">K Series</a></li>
                    <li><a href="#products/h">H&a Series</a></li>
                    <li><a href="#products/s">Special Vehicles</a></li>
                    <li><a href="#products/o">Others</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#technology/rd">Technology</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#technology/rd">R&D Platform</a></li>
                    <li><a href="#technology/equipment">Manufacturing Equipments</a></li>
                    <li><a href="#technology/achievement">Achievements</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#sales/network">Sales Network</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#sales/network">Network</a></li>
                    <li><a href="#sales/purchase">Purchase</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><a href="#contactUs">Contact Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:bjhl@heliforklift.com.cn">bjhl@heliforklift.com.cn</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <a>86-0917-3571231</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a>No.127 Baofu Road, Baoji, Shaanxi, China</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: left;color: #9d9ea3">
            <p>@Anhui Heli Co., Ltd. Baoji Heli Forklift Truck Plant all rights reserved.</p>
        </div>
    </div>
</section>