<section class="detailBackground">

</section>

<section class="aboutIntro">
    <div class="container">
        <div class="col-sm-3">
            <h3><a href="#aboutUs/intro"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;About Us</a></h3>
            <div class="bottomLine pull-right"></div>
            <ul>
                <li><a href="#aboutUs/intro">Introduction</a></li>
                <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                <li><a href="#aboutUs/news">Hot News</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h3>HELI named No.1 Enterprise for 24th year</h3>
            <span>Date: 2015-02-15</span>
            <hr>
            <img src="../image/hotnews6.jpg">
            <p>
                Anhui HELI Forklifts Group Co., Ltd was named the top enterprise in  the Chinese industrial vehicle industry late last year. The selection was based on production and sales data released by various forklift manufacturers.
                <br><br>
                For 24 consecutive years, HELI has retained the lead in  industrial vehicle Research &Development, manufacture and export as an enterprise with the largest scale and most comprehensive strength in  China.
                <br><br>
                In  2014, the company retained its market-oriented approach with increased investment in  R&D; it actively responded to market changes and continuously improved its product ranges; and in  doing so, wrote another magnificent chapter of HELI. With independent innovations, original manufacturing, a proprietary brand and independent management, and by insisting on improving the quality of innovation and the efficacy of management with honest operations and steady development, HELI continues to lead the product upgrade, technical progress and sustainable development of the Chinese industrial vehicle industry.
                <br><br>
                However, HELI is not standing still. In  2015, after an elaborate analysis of the current complexity of the macro environment and general economic trends for the future, the company is determined to proactively adapt to 'the new normal' theory with strategies of continued development, improved domestic marketshare and determination to achieve above-average growth and retain its position as the top enterprise of the industry in  China.
                <br><br>
                With 57 years of effort and 24 years at the No.1 position in  China. HELI consistently relies on the idea of 'HELI China, lifting the future', carrying the responsibilities of the national forklift industry, and striving to create a flagship for Chinese industry. The company remains confident of achieving it vision of 'Becoming the Top 5 by the 100th anniversary of the company.
            </p>

        </div>
    </div>
</section>


<section id="contact" class="contact-section"   style="background-color: #eeeeee">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4><a href="#aboutUs/intro">About Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#aboutUs/intro">Introduction</a></li>
                    <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                    <li><a href="#aboutUs/news">Hot News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#products">Products</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#products/k">K Series</a></li>
                    <li><a href="#products/h">H&a Series</a></li>
                    <li><a href="#products/s">Special Vehicles</a></li>
                    <li><a href="#products/o">Others</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#technology/rd">Technology</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#technology/rd">R&D Platform</a></li>
                    <li><a href="#technology/equipment">Manufacturing Equipments</a></li>
                    <li><a href="#technology/achievement">Achievements</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#sales/network">Sales Network</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#sales/network">Network</a></li>
                    <li><a href="#sales/purchase">Purchase</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><a href="#contactUs">Contact Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:bjhl@heliforklift.com.cn">bjhl@heliforklift.com.cn</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <a>86-0917-3571231</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a>No.127 Baofu Road, Baoji, Shaanxi, China</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: left;color: #9d9ea3">
            <p>@Anhui Heli Co., Ltd. Baoji Heli Forklift Truck Plant all rights reserved.</p>
        </div>
    </div>
</section>