<section class="detailBackground">

</section>

<section class="aboutIntro">
    <div class="container">
        <div class="col-sm-3">
            <h3><a href="#aboutUs/intro"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;About Us</a></h3>
            <div class="bottomLine pull-right"></div>
            <ul>
                <li><a href="#aboutUs/intro">Introduction</a></li>
                <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                <li><a href="#aboutUs/news">Hot News</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h3>Enterprise Culture</h3>
            <hr>
            <h4><i class="fa fa-circle-thin" aria-hidden="true"></i>&nbsp;Basic system of value concept</h4>
            <p>Core values: People Oriented, Pay back society by exquisite product<br>
                Enterprise spirit: Realistic, Innovative, United and High efficient<br>
                Enterprise target: Stand in the top ten of the world forklift truck
                industry and create an international first-class enterprise enterprise<br>
                Operating Tenet: Create value for customer<br>
                Management Concept: Real time and high efficiency, Pursuit of Excellence<br>
                Enterprise Style: Meticulosity, Fast operation</p>
            <br>
            <h4><i class="fa fa-circle-thin" aria-hidden="true"></i>&nbsp;Single system of value concept</h4>
            <p>Market opinion: Customer First<br>
            Work opinion: Presentation of life value, Existence of living joy.<br>
            Quality opinion: Life of Enterprise, Quality of Employee<br>
            Talents opinion: emphasize on studying ability, practice ability and innovation ability<br>
            Benefit Opinion: Pay equal attention to economic benefit and social benefit.<br>
            Development Opinion: continuance and health development<br>
            Brand Opinion: Establish brand by exquisite products and develop brand by innovation<br>
            Cooperation Opinion: Sincere cooperation and mutual benefit<br>
            </p>
        </div>
    </div>
</section>


<section id="contact" class="contact-section"   style="background-color: #eeeeee">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4><a href="#aboutUs/intro">About Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#aboutUs/intro">Introduction</a></li>
                    <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                    <li><a href="#aboutUs/news">Hot News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#products">Products</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#products/k">K Series</a></li>
                    <li><a href="#products/h">H&a Series</a></li>
                    <li><a href="#products/s">Special Vehicles</a></li>
                    <li><a href="#products/o">Others</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#technology/rd">Technology</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#technology/rd">R&D Platform</a></li>
                    <li><a href="#technology/equipment">Manufacturing Equipments</a></li>
                    <li><a href="#technology/achievement">Achievements</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#sales/network">Sales Network</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#sales/network">Network</a></li>
                    <li><a href="#sales/purchase">Purchase</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><a href="#contactUs">Contact Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:bjhl@heliforklift.com.cn">bjhl@heliforklift.com.cn</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <a>86-0917-3571231</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a>No.127 Baofu Road, Baoji, Shaanxi, China</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: left;color: #9d9ea3">
            <p>@Anhui Heli Co., Ltd. Baoji Heli Forklift Truck Plant all rights reserved.</p>
        </div>
    </div>
</section>