<section class="detailBackground">

</section>

<section class="aboutIntro">
    <div class="container">
        <div class="col-sm-3">
            <h3><a href="#aboutUs/intro"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;About Us</a></h3>
            <div class="bottomLine pull-right"></div>
            <ul>
                <li><a href="#aboutUs/intro">Introduction</a></li>
                <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                <li><a href="#aboutUs/news">Hot News</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h3>HELI Loaders are going global</h3>
            <span>Date: 2014-08-29</span>
            <hr>
            <p>
                As the largest R&D and manufacturing enterprise of Industrial Handling Trucks in China, HELI has been involved in  the construction machinery industry since 2004. After a decade of development, loaders under the HELI brand are now being successfully promoted to markets all over the world.
                <br><br>
            </p>
            <img src="../image/hotnews9.jpg">
            <h5>HELI loaders have successfully been sold in  many countries and regions in Middle East, Africa and South America.</h5>
            <p>
                As a major part of the company’s strategic development plan, HELI constantly pays close attention to developments in  the construction machinery industry. Taking advantages of its own R&D and manufacturing capabilities, HELI has invested a total RMB0.22 billion in  the loader industry, on a 300 acre site, which gave the company the ability to manufacture 20,000 wheel loaders annually.
                <br><br>
                As a result of the efforts of its professional R&D team, all HELI loaders are of original designs, and feature an ergonomic structure and industry-leading aesthetics.
                <br><br>
                The chosen ZF power shift transmission represents world-class technology, and the proprietary power shift transmission gears have outstanding performance, providing all of today’s technologies and making it possible for people to operate loaders in  an economical, effective and safe way.  Depending on the service conditions and the highest speed, there are four forward gears and four backward gears for you to choose from, so as to minimise shifting shock and maximise operator comfort.
                <br><br>
            </p>
            <img src="../image/hotnews10.jpg">
            <h5>Currently, HELI has 2 ton, 3 ton, 5 ton and 6 ton loader models and a total of 14 models to meet market demand.</h5>
            <p>
                Currently, HELI has 2 ton, 3 ton, 5 ton and 6 ton loader models and a total of 14 models to meet market demand.
                <br><br>
                While focusing on improving product quality, HELI has created a specialised sales team to respond to marketing feedback and
                further improve the timeliness of services. On top of that, agent conferences are held on a regular basis to share experiences and collect the latest marketing information.
                <br><br>
                So far, HELI loaders have successfully been sold in  many countries and regions in  Middle East, Africa and South America.<br><br>
                With the expansion of our business, HELI sincerely welcomes expressions of interest from potential distributors and partners.
            </p>

        </div>
    </div>
</section>


<section id="contact" class="contact-section"   style="background-color: #eeeeee">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4><a href="#aboutUs/intro">About Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#aboutUs/intro">Introduction</a></li>
                    <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                    <li><a href="#aboutUs/news">Hot News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#products">Products</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#products/k">K Series</a></li>
                    <li><a href="#products/h">H&a Series</a></li>
                    <li><a href="#products/s">Special Vehicles</a></li>
                    <li><a href="#products/o">Others</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#technology/rd">Technology</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#technology/rd">R&D Platform</a></li>
                    <li><a href="#technology/equipment">Manufacturing Equipments</a></li>
                    <li><a href="#technology/achievement">Achievements</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#sales/network">Sales Network</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#sales/network">Network</a></li>
                    <li><a href="#sales/purchase">Purchase</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><a href="#contactUs">Contact Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:bjhl@heliforklift.com.cn">bjhl@heliforklift.com.cn</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <a>86-0917-3571231</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a>No.127 Baofu Road, Baoji, Shaanxi, China</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: left;color: #9d9ea3">
            <p>@Anhui Heli Co., Ltd. Baoji Heli Forklift Truck Plant all rights reserved.</p>
        </div>
    </div>
</section>