<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="firstLeft col-sm-6">
                <h1>Anhui HeLi Co.,Ltd</h1>
                <p>The <span>No.1</span> Chinese <span>Lift Truck</span> Supplier</p>
                <a href="#products" class="btn btn-primary">View our products</a>
            </div>
            <div class="firstRight col-sm-6">
                <img src="../image/brandPhoto.png" align="bottom">
            </div>
        </div>
    </div>
</section>
<section class="products-section">
    <div class="container">
        <div class="contentTitle col-lg-12" style="text-align: left">
            <h3><a href="#products"><i class="fa fa-cog fa-spin fa-fw"></i>&nbsp;New Products</a></h3>
            <div class="bottomLine"></div>
        </div>
        <div class="row">
            <div class="col-sm-2" ng-repeat="product in model.newProducts">
                <div class="imageHover">
                    <a href="#products/truck/{{product._id}}"><img ng-src="{{product.image}}"></a>
                </div>
                <a href="#products/truck/{{product._id}}"><p>{{product.name}}</p></a>
            </div>
        </div>
    </div>
</section>
<section id="firstHalf" class="firstHalf-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="contentTitle thumbnail">
                    <h3><a href="#aboutUs/intro"><i class="fa fa-flag" aria-hidden="true"></i>&nbsp;Company Profile</a></h3>
                    <div class="bottomLine"></div>
                    <p>Anhui HeLi Co.,Ltd, founded in 1958, is mainly engaged in R&D and manufacturing of <span>industrial vehicles</span>
                        and constructing <span>machinery components</span>. With a national-level Enterprise Technical
                        Center, the most complete industry chain and the best economic performance, Heli becomes the
                        first brand of Chinese forklift industry.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contentTitle thumbnail">
                    <h3><a href="#products"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Our Products</a></h3>
                    <div class="bottomLine"></div>
                    <ul>
                        <li><a href="#products/k"><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;K Series Forklifts</a></li>
                        <li><a href="#products/h"><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;H & a Series Forklifts</a></li>
                        <li><a href="#products/s"><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;Special Vehicles</a></li>
                        <li><a href="#products/o"><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;Other Vehicles</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contentTitle thumbnail">
                    <h3><a href="#aboutUs/news"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;Hot News</a></h3>
                    <div class="bottomLine"></div>
                    <ul style="text-align: left">
                        <li><a href="#aboutUs/news/1"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;HELI & CHL attended CeMAT Brazil 2015</a></li>
                        <li><a href="#aboutUs/news/2"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;HELI Launches European Center</a></li>
                        <li><a href="#aboutUs/news/3"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;HELI named No.1 Enterprise for 24th year</a></li>
                        <li><a href="#aboutUs/news/4"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Heli's magnificent appearance at Bauma China 2014</a></li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4><a href="#aboutUs/intro">About Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#aboutUs/intro">Introduction</a></li>
                    <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                    <li><a href="#aboutUs/news">Hot News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#products">Products</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#products/k">K Series</a></li>
                    <li><a href="#products/h">H&a Series</a></li>
                    <li><a href="#products/s">Special Vehicles</a></li>
                    <li><a href="#products/o">Others</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#technology/rd">Technology</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#technology/rd">R&D Platform</a></li>
                    <li><a href="#technology/equipment">Manufacturing Equipments</a></li>
                    <li><a href="#technology/achievement">Achievements</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#sales/network">Sales Network</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#sales/network">Network</a></li>
                    <li><a href="#sales/purchase">Purchase</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><a href="#contactUs">Contact Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:bjhl@heliforklift.com.cn">bjhl@heliforklift.com.cn</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <a>86-0917-3571231</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a>No.127 Baofu Road, Baoji, Shaanxi, China</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: left;color: #9d9ea3">
            <p>@Anhui Heli Co., Ltd. Baoji Heli Forklift Truck Plant all rights reserved.</p>
        </div>
    </div>
</section>