<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="firstLeft col-sm-6">
                <h1>Anhui HeLi Co.,Ltd</h1>
                <p>The <span>No.1</span> Chinese <span>Lift Truck</span> Supplier</p>
                <a href="#products" class="btn btn-primary">View our products</a>
            </div>
            <div class="firstRight col-sm-6">
                <img src="../image/brandPhoto.png" align="bottom">
            </div>
        </div>
    </div>
</section>
<section class="products-section">
    <div class="container">
        <div class="contentTitle col-lg-12" style="text-align: left">
            <h3><i class="fa fa-cog fa-spin fa-fw"></i>&nbsp;New Products</h3>
            <div class="bottomLine"></div>
        </div>
        <div class="row">
            <div class="col-sm-2" ng-repeat="product in model.newProducts">
                <div class="imageHover">
                    <img ng-src="{{product.image}}">
                </div>
                <!--<div class="underLine"></div>-->
                <p>{{product.name}}</p>
            </div>
        </div>
    </div>
</section>
<section id="firstHalf" class="firstHalf-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="contentTitle thumbnail">
                    <h3><i class="fa fa-flag" aria-hidden="true"></i>&nbsp;Company Profile</h3>
                    <div class="bottomLine"></div>
                    <p>Anhui HeLi Co.,Ltd, founded in 1958, is mainly engaged in R&D and manufacturing of <span>industrial vehicles</span>
                        and constructing <span>machinery components</span>. With a national-level Enterprise Technical
                        Center, the most complete industry chain and the best economic performance, Heli becomes the
                        first brand of Chinese forklift industry.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contentTitle thumbnail">
                    <h3><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Our Products</h3>
                    <div class="bottomLine"></div>
                    <ul>
                        <li><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;K Series Forklifts</li>
                        <li><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;H & a Series Forklifts</li>
                        <li><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;Special Vehicles</li>
                        <li><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;Other Vehicles</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contentTitle thumbnail">
                    <h3><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;Hot News</h3>
                    <div class="bottomLine"></div>
                    <ul style="text-align: left">
                        <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;HELI & CHL attended CeMAT Brazil 2015</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;HELI Launches European Center</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;HELI named No.1 Enterprise for 24th year</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Heli's magnificent appearance at Bauma China 2014</li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4><a href="#">About Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#">Introduction</a></li>
                    <li><a href="#">Enterprise Culture</a></li>
                    <li><a href="#">Hot News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#">Products</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#">K Series</a></li>
                    <li><a href="#">H&a Series</a></li>
                    <li><a href="#">Special Vehicles</a></li>
                    <li><a href="#">Others</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#">Technology</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#">R&D Platform</a></li>
                    <li><a href="#">Manufacturing Equipments</a></li>
                    <li><a href="#">Achievements</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#">Sales Network</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#">Network</a></li>
                    <li><a href="#">Purchase</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><a href="#">Contact Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="#">bjhl@heliforklift.com.cn</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <a href="#">86-0917-3571231</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a href="#">No.127 Baofu Road, Baoji, Shaanxi, China</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: left;color: #9d9ea3">
            <p>@Anhui Heli Co., Ltd. Baoji Heli Forklift Truck Plant all rights reserved.</p>
        </div>
    </div>
</section>