<section class="detailBackground">

</section>

<section class="productAll-section1">
    <div class="container">
        <h3><i class="fa fa-cog"></i>&nbsp;H&a Series Forklifts</h3>
        <hr>
        <div class="row">
            <div class="productRight">
                <div class="col-sm-3" ng-repeat="product in model.products|filter:{series:'h'}">
                    <a href="#products/truck/{{product._id}}"><img ng-src="{{product.image}}"></a>
                    <h4>{{product.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact-section"   style="background-color: #eeeeee">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4><a href="#aboutUs/intro">About Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#aboutUs/intro">Introduction</a></li>
                    <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                    <li><a href="#aboutUs/news">Hot News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#products">Products</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#products/k">K Series</a></li>
                    <li><a href="#products/h">H&a Series</a></li>
                    <li><a href="#products/s">Special Vehicles</a></li>
                    <li><a href="#products/o">Others</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#technology/rd">Technology</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#technology/rd">R&D Platform</a></li>
                    <li><a href="#technology/equipment">Manufacturing Equipments</a></li>
                    <li><a href="#technology/achievement">Achievements</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#sales/network">Sales Network</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#sales/network">Network</a></li>
                    <li><a href="#sales/purchase">Purchase</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><a href="#contactUs">Contact Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:bjhl@heliforklift.com.cn">bjhl@heliforklift.com.cn</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <a>86-0917-3571231</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a>No.127 Baofu Road, Baoji, Shaanxi, China</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: left;color: #9d9ea3">
            <p>@Anhui Heli Co., Ltd. Baoji Heli Forklift Truck Plant all rights reserved.</p>
        </div>
    </div>
</section>
