<section class="detailBackground">

</section>

<section class="productAll-section1">
    <div class="container">
        <h3><i class="fa fa-cog fa-spin fa-fw"></i>&nbsp;K Series Forklifts</h3>
        <hr>
        <div class="row">
            <div class="productRight">
                <div class="col-sm-3" ng-repeat="product in model.products|filter:{series:'k'}">
                    <img ng-src="{{product.image}}">
                    <h4>{{product.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="productAll-section2">
    <div class="container">
        <h3><i class="fa fa-cog fa-spin fa-fw"></i>&nbsp;K Series Forklifts</h3>
        <hr>
        <div class="row">
            <div class="productRight">
                <div class="col-sm-3" ng-repeat="product in model.products|filter:{series:'h'}">
                    <img ng-src="{{product.image}}">
                    <h4>{{product.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="productAll-section1">
    <div class="container">
        <h3><i class="fa fa-cog fa-spin fa-fw"></i>&nbsp;K Series Forklifts</h3>
        <hr>
        <div class="row">
            <div class="productRight">
                <div class="col-sm-3" ng-repeat="product in model.products|filter:{series:'s'}">
                    <img ng-src="{{product.image}}">
                    <h4>{{product.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="productAll-section2">
    <div class="container">
        <h3><i class="fa fa-cog fa-spin fa-fw"></i>&nbsp;K Series Forklifts</h3>
        <hr>
        <div class="row">
            <div class="productRight">
                <div class="col-sm-3" ng-repeat="product in model.products|filter:{series:'o'}">
                    <img ng-src="{{product.image}}">
                    <h4>{{product.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4><a href="#">About Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#">Introduction</a></li>
                    <li><a href="#">Enterprise Culture</a></li>
                    <li><a href="#">Hot News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#">Products</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#">K Series</a></li>
                    <li><a href="#">H&a Series</a></li>
                    <li><a href="#">Special Vehicles</a></li>
                    <li><a href="#">Others</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#">Technology</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#">R&D Platform</a></li>
                    <li><a href="#">Manufacturing Equipments</a></li>
                    <li><a href="#">Achievements</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#">Sales Network</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#">Network</a></li>
                    <li><a href="#">Purchase</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><a href="#">Contact Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="#">bjhl@heliforklift.com.cn</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <a href="#">86-0917-3571231</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a href="#">No.127 Baofu Road, Baoji, Shaanxi, China</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: left;color: #9d9ea3">
            <p>@Anhui Heli Co., Ltd. Baoji Heli Forklift Truck Plant all rights reserved.</p>
        </div>
    </div>
</section>

