<section class="detailBackground">

</section>

<section class="aboutIntro">
    <div class="container">
        <div class="col-sm-3">
            <h3><a href="#sales/network">Sales Network</a></h3>
            <div class="bottomLine pull-right"></div>
            <ul>
                <li><a href="#sales/network">Network</a></li>
                <li><a href="#sales/purchase">Purchase</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h3>Sales Outlets</h3>
            <hr>
            <p>HELI set up more than 100 sales and service outlets in 29 provinces, established sales offices in Xi'an, Lanzhou, Urumqi, Baotou,Yinchuan and Taiyuan, also established foreign sales outlets, providing forklifts sales, parts supply, maintenance, technical advice and other services to customers.</p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Sales Offices</th>
                        <th>Address</th>
                        <th>Zip</th>
                        <th>Tel</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Baoji Heli Forklift<br>Sales Company</td>
                        <td>#127 Baofu Road,<br>Baoji, Shaanxi, China</td>
                        <td>721001</td>
                        <td>0917-3668974</td>
                    </tr>
                    <tr>
                        <td>Shaanxi Heli Co.,Ltd.</td>
                        <td>#52 Shudao Road,<br>Xi'an, Shaanxi, China</td>
                        <td>710032</td>
                        <td>029-84626296</td>
                    </tr>
                    <tr>
                        <td>Shanxi Heli Co.,Ltd.</td>
                        <td>#534 Jianshe Road,<br>Taiyuan, Shanxi, China</td>
                        <td>030006</td>
                        <td>0351-7061545</td>
                    </tr>
                    <tr>
                        <td>Baotou Heli Logistics<br>Equipment Co.,Ltd.</td>
                        <td>Address: #1 Kunqu Qianjin<br>Street, Baotou, Inner Mongolia, China</td>
                        <td>Zip: 014010</td>
                        <td>Tel: 0472-2521336</td>
                    </tr>
                    <tr>
                        <td>Gansu Ancha Heli<br>Forklift Co.,Ltd.</td>
                        <td>#255 Xijin West Road,<br>Lanzhou, Gansu, China</td>
                        <td>730050</td>
                        <td>0931-2350843</td>
                    </tr>
                    <tr>
                        <td>Yinchuan Office</td>
                        <td>#690 Qinghe North Street,<br>Yinchuan, Ningxia, China</td>
                        <td>750004</td>
                        <td>T0951-6737948</td>
                    </tr>
                    <tr>
                        <td>Xinjiang Sales Office</td>
                        <td>#292 Ataile Road,<br>Urumqi, Xinjiang, China</td>
                        <td>830011</td>
                        <td>0991-3813184</td>
                    </tr>
                    <tr>
                        <td>Baoji Heli Industrial<br>and Trading Co.,Ltd.</td>
                        <td>#1 Xinjian Road East,<br>Baoji, Shaanxi, China</td>
                        <td>721000</td>
                        <td>0917-3232633</td>
                    </tr>
                    <tr>
                        <td rowspan="3">Cleaning Machine<br>Xi'an Sales Office</td>
                        <td>#15 Wenyi Road,<br>Xi'an, Shaanxi, China</td>
                        <td>710001</td>
                        <td>029-7867653</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <img src="../image/chinesemap.png" style="width: 60%">
        </div>
    </div>
</section>


<section id="contact" class="contact-section"   style="background-color: #eeeeee">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4><a href="#aboutUs/intro">About Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#aboutUs/intro">Introduction</a></li>
                    <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                    <li><a href="#aboutUs/news">Hot News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#products">Products</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#products/k">K Series</a></li>
                    <li><a href="#products/h">H&a Series</a></li>
                    <li><a href="#products/s">Special Vehicles</a></li>
                    <li><a href="#products/o">Others</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#technology/rd">Technology</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#technology/rd">R&D Platform</a></li>
                    <li><a href="#technology/equipment">Manufacturing Equipments</a></li>
                    <li><a href="#technology/achievement">Achievements</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#sales/network">Sales Network</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#sales/network">Network</a></li>
                    <li><a href="#sales/purchase">Purchase</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><a href="#contactUs">Contact Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:bjhl@heliforklift.com.cn">bjhl@heliforklift.com.cn</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <a>86-0917-3571231</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a>No.127 Baofu Road, Baoji, Shaanxi, China</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: left;color: #9d9ea3">
            <p>@Anhui Heli Co., Ltd. Baoji Heli Forklift Truck Plant all rights reserved.</p>
        </div>
    </div>
</section>