<section class="detailBackground">

</section>

<section class="aboutIntro">
    <div class="container">
        <div class="col-sm-3">
            <h3><a href="#technology/rd">Technology</a></h3>
            <div class="bottomLine pull-right"></div>
            <ul>
                <li><a href="#technology/rd">R&D Platform</a></li>
                <li><a href="#technology/equipment">Manufacturing Equipments</a></li>
                <li><a href="#technology/achievement">Achievements</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h3>R&D Platform</h3>
            <hr>
            <h4>Ⅰ. Current R & D Capabilities</h4>
            <p>&gt;&nbsp;&nbsp;&nbsp;HELI Technology Center has original fixed assets of RMB 84.16 million yuan,
                covers an area of 7056 square meters, and possesses domestic first-class Vehicle
                Proving Ground for construction and industrial vehicles, AGV Proving Ground, and
                Parts Reliability Test Base.<br><br>
                &gt;&nbsp;&nbsp;&nbsp;HELI Technology Center has multiple sets of test equipments: Engine Test Bench,
                Gearbox Test Bench, Differential Test Bench, Feed Pump Test bench, Mast Test Bench,
                Double Drive Axle Test Bench, and so on.<br><br>
                &gt;&nbsp;&nbsp;&nbsp;By the gigabit Fiber-based Collaborative Information Management System, HELI
                Technology Center provides a high-speed switching platform for the company's concurrent
                design and three dimensional design, making the information technology CAD/CAPP/CAM/CAE/PDM
                be widely and extensively used in R＆D.<br><br>
                &gt;&nbsp;&nbsp;&nbsp;HELI Technology Center has a capable team of scientific and technological personnel,
                R & D personnel, and pilot personnel with totally 1439 technicians, and the design level
                of the Center represents the highest level of the industry in China.</p>

            <h4>Ⅱ. Key Laboratory Construction</h4>
            <p>HELI jointly established Anhui Province Key Laboratory of Industrial Vehicles with Hefei University
                of Technology, approved by Anhui Provincial Department of Science & Technology in December 2007.
                The lab main task is in industrial vehicle-related common technologies and applied basic research,
                and its key research topics include: industrial vehicle NVH technology, transmission optimization
                technology, industrial vehicles dynamic design technology, and so on, which are currently in the
                planning stage.</p>
            <h4>Ⅲ. Production- Academic -Research Cooperation</h4>
            <p>In the development of new products, new technologies, and technological transformation, HELI takes
                into account both self-development and the external resources, strengthen the cooperation with
                universities, research institutes, and  international institutes, and has taken part in the production,
                academic and research cooperation respectively with University of Science and Technology of China,
                Hefei University of Technology and so on, and has achieved good results.<br><br>
                Completed Forklift Electric Control System Design in cooperation with Intelligence Institute of Chinese Academy of Sciences;<br>
                Completed Lost Foam Casting Mold Design in cooperation with Tsinghua University;<br>
                Completed Automatic Stereoscopic Warehouse Digital System and Stacker Crane Design and Manufacturing in cooperation with Tongji University;<br>
                Vibration and Noise Study in cooperation with Hefei University of Technology;<br>
                Completed CAE Analysis of Dynamic Characteristics of 2-3.5T Hydraulic Forklift Flexible Connection Transmission in
                cooperation with University of Science and Technology of China;<br>
                Completed CAE Analysis of G Series Forklift Steering Wheel Vibration Project in cooperation with University of Science
                and Technology of China;<br>
                Completed 5-10T Automatic Shift Gearbox Project Research in cooperation with Tongji University.
            </p>
        </div>
    </div>
</section>


<section id="contact" class="contact-section"   style="background-color: #eeeeee">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4><a href="#aboutUs/intro">About Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#aboutUs/intro">Introduction</a></li>
                    <li><a href="#aboutUs/culture">Enterprise Culture</a></li>
                    <li><a href="#aboutUs/news">Hot News</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#products">Products</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#products/k">K Series</a></li>
                    <li><a href="#products/h">H&a Series</a></li>
                    <li><a href="#products/s">Special Vehicles</a></li>
                    <li><a href="#products/o">Others</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#technology/rd">Technology</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li><a href="#technology/rd">R&D Platform</a></li>
                    <li><a href="#technology/equipment">Manufacturing Equipments</a></li>
                    <li><a href="#technology/achievement">Achievements</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4><a href="#sales/network">Sales Network</a></h4>
                <div class="bottomLine"></div>

                <ul>
                    <li><a href="#sales/network">Network</a></li>
                    <li><a href="#sales/purchase">Purchase</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4><a href="#contactUs">Contact Us</a></h4>
                <div class="bottomLine"></div>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:bjhl@heliforklift.com.cn">bjhl@heliforklift.com.cn</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <a>86-0917-3571231</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a>No.127 Baofu Road, Baoji, Shaanxi, China</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: left;color: #9d9ea3">
            <p>@Anhui Heli Co., Ltd. Baoji Heli Forklift Truck Plant all rights reserved.</p>
        </div>
    </div>
</section>